<%= form_for @employee, :url => { action: "update" } do |f| %>
    <% if @employee.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this project from being created:</h2>
            <ul>
                <% @employee.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p>
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
    </p>
    <p>
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
    </p>
    <p>
        <%= f.label :roles %>
        <%= f.collection_select(:roles, Role.all, :name, :name) %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>