<%= form_for(@project, html: {multipart: true}) do |f| %>
    <ul>
        <% @project.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
    <p>
        <%= f.label :name %><br />
        <%= f.text_field :name, :pattern => '[\w\!\@\#\$\%\(\)\|\\\/\<\>\&\s]+' %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>