<%= form_for(@time_entry, html: {multipart: true, :id => 'new_time_entry_form' }) do |f| %>
    <ul>
        <% @time_entry.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
    <p>
        <%= f.label :description %><br />
        <%= f.text_area :description, :id => "time_entry_description", :maxlength => 500, :title => "Must be between 5 and 500 characters long with only these special characters: '. \ / ( ) ? $ &", :required => "true" %>
    </p>
    <div id="time_entry_description_feedback"></div>
    <p>
        <%= f.label :start %><br />
        <%= f.text_field :start, :id => "time_entry_start", :placeholder => "YYYY/MM/DD hh:mm", :pattern => "^((19[7-9][0-9])|(2[0-9][0-9][0-9]))\/((0[1-9])|(1[0-2]))\/(([0-2][0-9])|(3[0-1]))\s(([0-1][0-9])|(2[0-4]))\:([0-5][0-9])$", :title => "Please use the format YYYY/MM/DD hh:mm", :required => "true" %>
    </p>
    <div id="time_entry_start_feedback"></div>
    <p>
        <%= f.label :finish %>
        <%= f.text_field :finish, :id => "time_entry_finish", :placeholder => "YYYY/MM/DD hh:mm", :pattern => "^((19[7-9][0-9])|(2[0-9][0-9][0-9]))\/((0[1-9])|(1[0-2]))\/(([0-2][0-9])|(3[0-1]))\s(([0-1][0-9])|(2[0-4]))\:([0-5][0-9])$", :title => "Please use the format YYYY/MM/DD hh:mm", :required => "true" %>
    </p>
    <div id="time_entry_finish_feedback"></div>
    <p>
        <%= f.label :job_id %>
        <%= f.collection_select(:job_id, @jobs, :id, :title) %>
    </p>
    <div id="time_entry_job_id_feedback"></div>
    <p>
        <%= f.label :user_id %>
        <%= f.collection_select(:user_id, @colleagues, :id, :full_name) %>
    </p>
    <div id="time_entry_user_id_feedback"></div>
    <p>
        <%= f.submit %>
    </p>
<% end %>