<h1>Time entry</h1>
<p><%= @time_entry.description %></p>
<p>Start: <%= @time_entry.start %></p>
<p>Finish: <%= @time_entry.finish %></p>
<p>Created at: <%= @time_entry.created_at %></p>
<p>Last updated: <%= @time_entry.updated_at %></p>