<h1 class="title"><%= link_to(todo.title, todo) %></h1>

<%= form_for(todo, remote: true) do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.check_box :completed, :id => "", :class => "completed" %>
  <%= f.submit %>
<% end %>

<% if defined?(title) && title == true %>
<% else %>
  <p class="description"><%= todo.description %></p>
  <p>Due: <%= todo.due %></p>
  <p>Completed: <%= todo.completed.to_s %></p>
  <h3 id="todo_attachments">Attachments</h3>
  <ul>
      <% todo.datafiles.each do |file| %>
        <li><%= link_to(file.attachment_file_name, file.attachment.url, target: "_blank") %></li>
      <% end %>
  </ul>
<% end %>
<%= link_to 'Edit', edit_todo_path(todo) %>
<%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %>