<%= form_for :organization, :html => { :id => 'new_organization_form' }, url: organizations_path do |f| %>
    <% if @organization.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being created:</h2>
            <ul>
                <% @organization.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p>
        <%= f.label :name %><br />
        <%= f.text_field :name, :id => "organization_name_field", :required => true, :pattern => '^[A-z0-9\.\\\/\(\)\?\$\&\s]{6,35}$', :maxlength => 35, :title => "Must be between 6 and 35 characters long with only these special characters: '. \ / ( ) ? $ &" %>
    </p>
    <div id="organization_name_field_feedback"></div>
    <p>
        <%= f.submit %>
    </p>
<% end %>