<h1><%= @organization.name %></h1>
<%= link_to "Delete organization", organization_path(@organization), method: :delete, data: {confirm: "Are you sure about this? This will also delete all associated projects and their associated jobs"} %>

<h2>Employees</h2>
<ul>
    <% @employees.each do |employee| %>
        <li>
            <%= link_to employee.full_name, employee_path(employee) %>
        </li>
    <% end %>
</ul>

<h2>Projects</h2>
<ul>
    <% @projects.each do |project| %>
        <li>
            <%= link_to project.name, project_path(project) %>
        </li>
    <% end %>
</ul>

<!-- #The form to add a new employee  --> 
<h2>Add employee</h2>
<%= form_tag organization_path(@organization), method: "patch" do %>
    <%= label_tag :add_employee, "Add employee" %>
    <%= text_field_tag :add_employee %>
    <%= submit_tag "Add employee" %>
<% end %>