<!DOCTYPE html>
<html>
    <head>
        <title>Workplace<%= yield(:title) != "" ? " - " + yield(:title) : "" %></title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <p id="flash"><%= flash.notice %></p>
        <p id="alert"><%= flash.alert %></p>
        
        <header class=""> 
            <nav class="">
                <div class="nav-wrapper">
                    <p id="page-title" class="brand-logo">Workplace<%= yield(:title) != "" ? " - " + yield(:title) : "" %></p>
                    
                    <a href="#" data-activates="side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
                    
                    <ul class="right hide-on-med-and-down">
                        <% if current_user %>
                            <li><%= link_to "All Todos", todos_path, :class => "mdl-navigation__link" %></li>
                            <li><%= link_to current_user.email, profile_path, :class => "mdl-navigation__link"  %></li>
                            <li><%= link_to "Log out", logout_path, method: "delete", :class => "mdl-navigation__link"  %></li>
                        <% else %> 
                            <li><%= link_to "Login", 'login', :class => "mdl-navigation__link"  %></li>
                            <li><%= link_to "Signup", 'signup', :class => "mdl-navigation__link"  %></li>
                        <% end %>
                    </ul>
                    
                    <ul id="side-menu" class="side-nav">
                        <% if current_user %>
                            <li><%= link_to "All Todos", todos_path, :class => "mdl-navigation__link" %></li>
                            <li><%= link_to current_user.email, profile_path, :class => "mdl-navigation__link"  %></li>
                            <li><%= link_to "Log out", logout_path, method: "delete", :class => "mdl-navigation__link"  %></li>
                        <% else %> 
                            <li><%= link_to "Login", 'login', :class => "mdl-navigation__link"  %></li>
                            <li><%= link_to "Signup", 'signup', :class => "mdl-navigation__link"  %></li>
                        <% end %>
                    </ul>
                </div>
            </nav>
        </header>
        
        <main>
            <%= yield %>
            
            <% if current_user %>
                <%= link_to new_todo_path, :class => "btn-floating btn-large waves-effect waves-light red ", :id => "add-todo" do %>
                    <i class="material-icons">add</i>
                <% end %>
            <% end %>
        </main>
    </body>
</html>
